.hero{
    min-height: 93vh;
    background-color: #efefef;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.hero > div{
    min-width: 50vw;
    min-height: 100%;
    margin: 0px 10vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dDay {
    font-size: xx-large;
    font-weight: 700;
    color: var(--themeColor)
}

.hero h2{
    font-size: 3.6em;
    text-align: center;
}